{% extends "base.twig" %}

{% block title %}{{ app.config.get('general/sitename') }}{% endblock %}

{% block content %}

<div class="reveal">
    <div class="slides">    

        {% setcontent slides = "slides" %}
        
        {% for slide in slides %}

        {# Slides met een "sub" moeten een extra <section> tag krijgen. #}
        {% if not slide.sub and slide.next('id').sub %}
        <section>
        {% endif %}

            <section data-transition="{{ slide.transition }}"
                {% if slide.background %}data-background="{{ image(slide.background) }}"{% endif %}>

                <h{{ slide.headingsize }}>{{ slide.title }}</h{{ slide.headingsize }}>

                {{ slide.contents }}

                {% if slide.values.code %}
                    <pre><code data-trim contenteditable>{% spaceless %}
                        {{ slide.values.code }}
                    {% endspaceless %}</code></pre>
                {% endif %}

                {% if slide.notes %}
                    <aside class="notes">
                        {{ slide.notes }}
                    </aside>
                {% endif %}

            </section>

        {# En eventueel de extra <section> tag weer afsluiten. #}
        {% if slide.sub and not slide.next('id').sub %}
        </section>
        {% endif %}

        {% endfor %}

    </div>
</div>

{% endblock %}

